.posts-container {
  display: grid;
  height: 20vh;
  margin-top: 1rem;
  grid-gap: 2rem;
  grid-template-columns: 2.5fr 1.5fr;
}

.card-section {
  background-color: white;
}

.suggest-section {
  min-height: 60rem;
  margin-top: 1rem;
}

.circular-progress {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
